# Next.js build output and cache
.next/
out/
build/

# Local environment variables (Contains sensitive API keys/secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependency directories
node_modules/

# OS files
.DS_Store
Thumbs.db

# Python cache files
__pycache__/
*.pyc

# Local Development Database
backend/db.sqlite3

# Uploaded User Media (Videos/Images shouldn't live in Git)
backend/media/